<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentado">
    <resultMap type = "Cliente" id="ClienteResult">
        <id property ='id' column="id" />
        <id property ='item' column="item" />
        <id property ='fechainiciorenta' column="fechainiciorenta" />
        <id property ='fechafinrenta' column="fechafinrenta" />
        <collection property="rentados" ofType="ItemRentado" resultMap="du.eci.cvds.sampleprj.dao.mybatis.mappers."></collection>
    </resultMap>
</mapper>